/*
  Global styles
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  font: inherit;
  color: inherit;
  background: none;
}

/* 
  Utilities
*/

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space-between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 32px;
}
.logo img {
  width: 100%;
  height: 100%;
}
@media (min-width: 500px) and (max-width: 767px) {
  .logo {
    width: 288px;
    height: 48px;
  }
}

.link {
  color: white;
  font-size: 15px;
  position: relative;
  font-family: "Alata", sans-serif;
}
.link::before {
  left: 50%;
  width: 50%;
  height: 2px;
  position: absolute;
  top: calc(100% + 10px);
  transform: translateX(-50%);
  background-color: currentColor;
}
.link:focus-visible {
  outline: none;
}
.link:hover::before,
.link:focus-visible::before {
  content: "";
}

/*
  Grid
*/

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* 
  Page styles
*/

/* [1] Header area */

header {
  height: 650px;
  min-height: 100vh;
  background: url(images/desktop/image-hero.jpg) no-repeat top left;
}
header .hero {
  top: 250px;
  width: 652px;
  padding: 40px;
  color: white;
  max-width: 100%;
  margin-top: 50px;
  border: 2px solid;
  text-transform: uppercase;
  font: 300 4em "Josefin Sans", sans-serif;
}
@media (max-width: 767px) {
  header {
    height: 1300px;
    background-image: url(images/mobile/image-hero.jpg);
  }
  header .hero {
    padding: 50px;
    margin-top: 245px;
  }
}
@media (max-width: 550px) {
  header .hero {
    width: 350px;
    padding: 20px;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
  }
}

nav {
  height: 176px;
}
nav .menu-toggler img {
  pointer-events: none;
}
@media (min-width: 768px) {
  nav .links .container {
    gap: 35px;
    margin: 0;
    padding: 0;
    max-width: initial;
  }
  nav .menu-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  nav {
    height: 208px;
  }
  nav .logo,
  nav .menu-toggler {
    z-index: 1;
  }
  nav .links {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    will-change: display;
    background-color: black;
  }
  nav .links.show {
    display: block;
  }
  nav .links .container {
    top: 208px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100% - 208px);
    justify-content: space-evenly;
  }
  nav .link {
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  nav .menu-toggler {
    width: 48px;
    height: 32px;
  }
  nav .menu-toggler img {
    transform: scale(2);
  }
}
@media (max-width: 767px) and (max-height: 500px) {
  nav .links {
    height: 500px;
  }
}

/* [2] Main area */

main .section-title {
  color: black;
  text-transform: uppercase;
  font: 300 3em "Josefin Sans", sans-serif;
}
@media (max-width: 767px) {
  main .section-title {
    text-align: center;
  }
}
@media (max-width: 400px) {
  main .section-title {
    font-size: 2em;
  }
}

/*
  Interactive section
*/

.interactive {
  /* padding: 160px 0 186px; */
}
.interactive img {
  height: auto;
  max-width: 100%;
}
.interactive p {
  font-size: 15px;
  line-height: 1.6;
  color: hsl(0, 0%, 55%);
  font-family: "Alata", sans-serif;
}
@media (max-width: 991px) {
  .interactive {
    text-align: center;
    padding: 192px 0 206px;
  }
  .interactive .txt {
    width: 90%;
    margin: auto;
    padding-top: 90px;
  }
  .interactive p {
    font-size: 20px;
    margin-top: 44px;
  }
}
@media (min-width: 992px) {
  .interactive {
    padding: 160px 0 186px;
  }
  .interactive .container {
    position: relative;
  }
  .interactive img {
    width: 65%;
  }
  .interactive .txt {
    right: 0;
    bottom: 0;
    width: 50%;
    position: absolute;
    padding: 50px 0 0 50px;
    background-color: white;
  }
}
@media (min-width: 1200px) {
  .interactive picture {
    width: 75%;
  }
  .interactive .txt {
    padding: 98px 0 0 98px;
  }
}
